/aux/bin2c
*.gcda
*.gcno
*.o
*.so
*.a
*.dll
*.lib
*.luah
*.tar.gz
*.tar.xz
*.src.rock
*.luastatic.c
*.html
c/luasodium/*/ffi-implementation.h
c/luasodium/*/ffi-signatures.h
c/luasodium/ffi-default-signatures.h
c/luasodium/ffi-function-loader.h
/dist
/luasodium.lua
/luasodium
