name: produce coverage report

on: [push]

jobs:
  build-linux:

    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v3

    - name: install libsodium
      run: sudo apt-get install libsodium-dev

    - name: install gcovr 8.4
      run: sudo pip3 install 'gcovr==8.4'

    - name: install luajit
      uses: leafo/gh-actions-lua@v12
      with:
        luaVersion: "luajit-openresty"

    - name: Install LuaRocks
      uses: leafo/gh-actions-luarocks@v6

    - name: install busted
      run: luarocks install busted

    - name: install luacov
      run: luarocks install luacov

    - name: install luacov-reporter-gcovr
      run: luarocks install luacov-reporter-gcovr 0.0.5

    - name: make
      env:
        PKG_CONFIG_PATH: ./.lua/lib/pkgconfig/
      run: make coverage LUA=luajit

    - name: Codecov
      uses: codecov/codecov-action@v5
      with:
        file: coverage/index.xml

  build-windows:

    runs-on: windows-latest

    steps:
    - name: checkout
      uses: actions/checkout@v3

    - name: install dependencies
      run: vcpkg install libsodium:x64-windows libsodium:x86-windows lua:x64-windows lua:x86-windows

    - name: cmake configure
      run: 'cmake -B build-windows -DCMAKE_BUILD_TYPE=Debug -DCMAKE_TOOLCHAIN_FILE=C:\vcpkg\scripts\buildsystems\vcpkg.cmake -S .'

    - name: cmake build
      run: 'cmake --build build-windows --config Debug'

    - name: cmake test
      run: 'cd build-windows && ctest -C Debug --output-on-failure -VV'

  build-osx:
    runs-on: macos-latest

    steps:
    - name: checkout
      uses: actions/checkout@v3

    - name: install dependencies
      run: brew install libsodium lua

    - name: cmake configure
      run: 'cmake -B build-osx -DCMAKE_BUILD_TYPE=Debug -S .'

    - name: cmake build
      run: 'cmake --build build-osx'

    - name: cmake test
      run: 'cd build-osx && ctest -C Debug --output-on-failure -VV'
